
.header
  .actions
    = link_to 'New Article', new_article_path, :class => "btn btn-default"
  %h1 Articles

.articles
  - @articles.each do |article|
    .article
      .title= link_to article.title, article
      .summary= article.summary
      .tags= "Tags: #{article.tag_list}"
      .actions
        = link_to 'Edit', edit_article_path(article)


