%p#notice= notice

.header
  .actions
    = link_to 'Edit', edit_article_path(@article), :class => 'btn btn-default'
    = link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default'
  %h1= @article.title

.content!= @markdown.render(@article.content)
